body {
    background-color: #c1dcdc;
    color: #1a1a1a;
    font-family: Arial, sans-serif;
    font-size: 16px;
}

section {
    padding: 120px 80px;
}

header {
    font-size: 50px;
}

form label {
    font-size: 18px;
    font-weight: 500;
}

form input {
    border: none;
    border-radius: 12px;
    font-family: Arial, sans-serif;
    font-size: 16px;
    padding: 18px;
    margin-top: 10px;
    width: 400px;
}

form input::placeholder {
    font-family: Arial, sans-serif;
    font-size: 16px;
    color: #808080;
}

input[type=submit] {
    background-color: #000000;
    border: none;
    border-radius: 12px;
    color: #ffffff;
    cursor: pointer;
    font-size: 16px;
    padding: 18px 36px;
    margin-top: 20px;
}
